<hr class="line" />

<footer>
    <div class='div1-footer'>
        Projeto desenvolvido por:
        Joir Neto  / &nbsp;
        <a href="https://linkedin.com/in/joir-neto">Linkedin</a>&nbsp; / &nbsp;
        <a href="https://github.com/joirneto">Github</a>
        <div class='div2-footer'>
            <img class="img-footer" src='/images/logo_semana_fsm.png' />
            <img class="img-footer" src='/images/logo_devpleno.png' />
        </div>
    </div>
</footer>
</body>

</html>