<%- contentFor('secao1') %>

<section class="secao-principal">
  <form method="get" action="/cotacao">
    <label>Dia da cotação(dia útil): <%=diaUtilFormat%></label> <br />
    <% if(!cotacao){ %>
    <label class="erro-dia">Cotação não disponível no momento!</label
    ><br />
    <% } %>
    <input
      name="cotacao"
      type="text"
      placeholder="Cotação dolar"
      value="<%=cotacao%>"
    /><br />
    <input
      name="quantidade"
      type="text"
      placeholder="Quantidade de dólares"
    /><br />
    <button>Converter!</button>
  </form>
</section>
